<div class="row">
  <div class="large-3 columns">
    <div class="user-sidebar">
      <a ng-href="/#!/users/{{user.id}}">
        <img ng-src="{{user.avatar.medium.url}}" width="{{user.avatar.medium.width}}" height="{{user.avatar.medium.height}}" />
      </a>
      <ul class="side-nav">
        <!-- You are looking User page //-->
        <li ng-switch on="user.friendship_status" ng-show="user.inverse_friendship_status != 'pending'">

          <span ng-switch-when="pending">{{user.username}} <%= t('friendships.statuses.pending') %></span>
          <span ng-switch-when="friends"><%= t('friendships.statuses.friends') %></span>
          <span ng-switch-when="subscriber">{{user.username}} <%= t('friendships.statuses.subscriber') %></span>

          <a ng-click="addToFriendList()" ng-switch-default class="button small"><i class="icon-plus"></i> <%= t('friendships.add') %></a>
        </li>

        <!-- You are looking User page and he in pending for accept friendship //-->
        <li ng-show="user.inverse_friendship_status == 'pending'">
          <span>{{user.username}} <%= t('friendships.inverse_statuses.pending') %></span>
        </li>

        <li ng-show="user.inverse_friendship_status == 'pending'">
          <a ng-click="acceptFriendList(user.friendship_id)" class="button small success"><i class="icon-ok"></i> <%= t('friendships.accept') %></a>
        </li>

        <li ng-show="user.inverse_friendship_status == 'pending'">
          <a ng-click="rejectFriendList(user.friendship_id)" class="button small secondary"><i class="icon-minus"></i> <%= t('friendships.reject') %></a>
        </li>

        <!-- Remove Friendship //-->
        <li ng-show="user.friendship_status != null && user.friendship_status != 'subscriber'">
          <a ng-click="removeFromFriendList(user.friendship_id)"><i class="icon-minus"></i> <%= t('friendships.remove') %></a>
        </li>

        <li><a ng-click="createMessage()"><i class="icon-envelope"></i> Send message</a></li>
        <li><a href="#"><i class="icon-group"></i> Friends</a></li>
        <li><a href="#"><i class="icon-camera-retro"></i> Photos</a></li>
        <li><a href="#"><i class="icon-folder-open"></i> Files</a></li>
      </ul>
    </div>
  </div>
  <div class="large-9 columns">
    <div class="user-posts">
      <h5 class="subheader"><a ng-href="/#!/users/{{user.id}}" class="user-posts_title">{{user.fullname}}</a></h5>

      <div class="user-posts_profile">

        <div class="row user-posts_profile_field">
          <div class="large-3 columns">
            <b><%= t('activerecord.attributes.user.status') %>:</b>
          </div>
          <div class="large-9 columns">
            <span ng-class="{success: user.online, secondary: !user.online, label: true}" ng-switch on="user.online">
              <span ng-switch-when="true">{{"users.online" | translate}}</span>
              <span ng-switch-default>{{"users.offline" | translate}}</span>
            </span>
          </div>
        </div>

        <div class="row user-posts_profile_field" ng-show="user.age != null && user.age > 0">
          <div class="large-3 columns">
            <b><%= t('activerecord.attributes.profile.age') %>:</b>
          </div>
          <div class="large-9 columns">
            {{user.age | yearsOld}}
          </div>
        </div>

        <div class="row user-posts_profile_field">
          <div class="large-3 columns">
            <b><%= t('activerecord.attributes.profile.gender') %>:</b>
          </div>
          <div class="large-9 columns">
            {{"profiles.gender." + user.gender | translate}}
          </div>
        </div>

        <div class="row user-posts_profile_field" ng-show="user.bio != null && user.bio.length > 0">
          <div class="large-3 columns">
            <b><%= t('activerecord.attributes.profile.bio') %>:</b>
          </div>
          <div class="large-9 columns">
            {{user.bio}}
          </div>
        </div>

      </div>

      <form name="postForm" ng-submit="sendWallMessage()" class="user-posts_form">
        <textarea ng-model="message_wall.body" ui-keydown="{ 'ctrl-13': 'sendWallMessage()' }" class="user-posts_form_input"></textarea>
        <button type="submit" class="button small"><%= t('posts.send') %></button>
      </form>

      <%= render 'static/partials/wall' %>
    </div>
  </div>
</div>
