<div class="row">
  <div class="large-12 columns">
    <h5><%= t('profiles.edit') %></h5>

    <form name="profileForm" ng-submit="save()">
      <fieldset>
        <legend><%= t('profiles.main_info') %></legend>

        <div class="row">
          <div class="large-6 columns">
            <label><%= t('activerecord.attributes.profile.first_name') %></label>
            <input type="text" ng-model="current_user.first_name">
          </div>
          <div class="large-6 columns">
            <label><%= t('activerecord.attributes.profile.last_name') %></label>
            <input type="text" ng-model="current_user.last_name">
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <label><%= t('activerecord.attributes.profile.birthday') %></label>
            <input type="text" ng-model="current_user.birthday">
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <label><%= t('activerecord.attributes.profile.gender') %></label>
            <label for="input_male" class="left inline">
              <input type="radio" id="input_male" name="gender" value="male" ng-model="current_user.gender" />
              <%= t('profiles.gender.male') %>
            </label>
            <label for="input_female" class="right inline">
              <input type="radio" id="input_female" name="gender" value="female" ng-model="current_user.gender" />
              <%= t('profiles.gender.female') %>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <label><%= t('activerecord.attributes.profile.bio') %></label>
            <textarea ng-model="current_user.bio" rows="4"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <button type="submit" class="button small"><%= t('save') %></button>
          </div>
        </div>

      </fieldset>
    </form>

    <form name="profilePhoto">
      <fieldset>
        <legend><%= t('activerecord.attributes.profile.photo') %></legend>
        <div class="row">
          <div class="large-3 columns">
            <img ng-src="{{current_user.avatar.medium.url}}" width="{{current_user.avatar.medium.width}}" height="{{current_user.avatar.medium.height}}">
          </div>
          <div class="large-9 columns">
            <input type="file" id="photo" name="photo" data-url="/api/profile/update_photo" ui_fileupload="{ 'formData': { 'set_profile_photo': true} }" />

            <div id="progressupload" class="progress" ng-show="upload_progress > 0">
              <span class="meter" ng-style="{ 'width': upload_progress + '%' }"></span>
            </div>

          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
